USE [master]
GO
/****** Object:  Database [ELDAR]    Script Date: 25.11.2021 11:25:45 ******/
CREATE DATABASE [ELDAR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ELDAR', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ELDAR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ELDAR_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ELDAR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ELDAR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ELDAR]
GO
/****** Object:  Table [dbo].[CONSUMER]    Script Date: 25.11.2021 11:25:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSUMER](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Invoice] [nchar](10) NOT NULL,
	[INN] [nchar](11) NOT NULL,
	[CodeProfile] [int] NOT NULL,
 CONSTRAINT [PK_CONSUMER] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 25.11.2021 11:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MATERIAL_1] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCER]    Script Date: 25.11.2021 11:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCER](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Invoice] [nchar](10) NOT NULL,
	[CodeProfile] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCER_1] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 25.11.2021 11:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[CallNumber] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[MaterialCode] [int] NOT NULL,
	[ProducerCode] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_1] PRIMARY KEY CLUSTERED 
(
	[CallNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 25.11.2021 11:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILE](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PROFILE] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 25.11.2021 11:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[CountOfProduct] [int] NOT NULL,
	[DateRequest] [date] NOT NULL,
	[Deadline] [date] NOT NULL,
	[ConsumerCode] [int] NOT NULL,
	[ProductNumber] [int] NOT NULL,
 CONSTRAINT [PK_REQUEST] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 25.11.2021 11:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Status] [nchar](1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignIn]    Script Date: 25.11.2021 11:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignIn](
	[ID] [int] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](1000) NOT NULL,
	[RoleID] [nchar](1) NOT NULL,
 CONSTRAINT [PK_SignIn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CONSUMER] ON 

INSERT [dbo].[CONSUMER] ([Code], [Title], [Address], [Invoice], [INN], [CodeProfile]) VALUES (2, N'2', N'2', N'2         ', N'1          ', 2)
SET IDENTITY_INSERT [dbo].[CONSUMER] OFF
GO
SET IDENTITY_INSERT [dbo].[MATERIAL] ON 

INSERT [dbo].[MATERIAL] ([Code], [Title]) VALUES (1, N'Цемент')
SET IDENTITY_INSERT [dbo].[MATERIAL] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCER] ON 

INSERT [dbo].[PRODUCER] ([Code], [Title], [Invoice], [CodeProfile]) VALUES (1, N'ы', N'1         ', 2)
SET IDENTITY_INSERT [dbo].[PRODUCER] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([CallNumber], [Title], [Price], [MaterialCode], [ProducerCode]) VALUES (3, N'1', 1.0000, 1, 1)
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[PROFILE] ON 

INSERT [dbo].[PROFILE] ([Code], [Title]) VALUES (1, N'Торговля')
INSERT [dbo].[PROFILE] ([Code], [Title]) VALUES (2, N'Производство')
INSERT [dbo].[PROFILE] ([Code], [Title]) VALUES (3, N'Ремонт')
SET IDENTITY_INSERT [dbo].[PROFILE] OFF
GO
SET IDENTITY_INSERT [dbo].[REQUEST] ON 

INSERT [dbo].[REQUEST] ([Number], [CountOfProduct], [DateRequest], [Deadline], [ConsumerCode], [ProductNumber]) VALUES (4, 1, CAST(N'2002-10-10' AS Date), CAST(N'2002-10-10' AS Date), 2, 3)
SET IDENTITY_INSERT [dbo].[REQUEST] OFF
GO
INSERT [dbo].[Role] ([Status], [Title]) VALUES (N'A', N'Admin')
GO
INSERT [dbo].[SignIn] ([ID], [Login], [Password], [Email], [RoleID]) VALUES (1, N'Sa', N'123', N'ra', N'A')
GO
ALTER TABLE [dbo].[CONSUMER]  WITH CHECK ADD  CONSTRAINT [FK_CONSUMER_PROFILE] FOREIGN KEY([CodeProfile])
REFERENCES [dbo].[PROFILE] ([Code])
GO
ALTER TABLE [dbo].[CONSUMER] CHECK CONSTRAINT [FK_CONSUMER_PROFILE]
GO
ALTER TABLE [dbo].[PRODUCER]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCER_PROFILE] FOREIGN KEY([CodeProfile])
REFERENCES [dbo].[PROFILE] ([Code])
GO
ALTER TABLE [dbo].[PRODUCER] CHECK CONSTRAINT [FK_PRODUCER_PROFILE]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_MATERIAL] FOREIGN KEY([MaterialCode])
REFERENCES [dbo].[MATERIAL] ([Code])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_MATERIAL]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_PRODUCER] FOREIGN KEY([ProducerCode])
REFERENCES [dbo].[PRODUCER] ([Code])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_PRODUCER]
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_REQUEST_CONSUMER] FOREIGN KEY([ConsumerCode])
REFERENCES [dbo].[CONSUMER] ([Code])
GO
ALTER TABLE [dbo].[REQUEST] CHECK CONSTRAINT [FK_REQUEST_CONSUMER]
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_REQUEST_PRODUCT] FOREIGN KEY([ProductNumber])
REFERENCES [dbo].[PRODUCT] ([CallNumber])
GO
ALTER TABLE [dbo].[REQUEST] CHECK CONSTRAINT [FK_REQUEST_PRODUCT]
GO
ALTER TABLE [dbo].[SignIn]  WITH CHECK ADD  CONSTRAINT [FK_SignIn_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([Status])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SignIn] CHECK CONSTRAINT [FK_SignIn_Role]
GO
USE [master]
GO
